* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
    height: 100%;
}
.btn {
    padding: 10px;
}
.btn p {
    width: 80%;
    max-width: 300px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    letter-spacing: 3px;
    color: #414141;
    position: absolute;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px #9b9b9b solid;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background-color: #ccc;
}
.bg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}
.form {
    background-color: white;
    max-width: 400px;
    padding: 80px 2%;
    position: absolute;
    left: 50%;
    box-shadow: 1px 1px 10px 5px #414141;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 94%;
    border: 4px solid #ccc;
}
.form input[type=text] {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding-left: 8px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #ececec;
}
.form input[type=text]:hover {
    border-radius: 10px;
    transition: 0.1s;
}
.form input[type=submit] {
    width: 100%;
    height: 48px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    border: 0;
    border-radius: 20px;
    border: 1px solid #868686;
    background-color: #ccc;
}
.form input[type=submit]:hover {
    background-color: #414141;
    color: white;
    border-radius: 10px;
    transition: 0.2s;
}
.closeBtn {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #ccc;
    color: #555;
    position: absolute;
    right: -16px;
    top: -16px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
.closeBtn:hover {
    background-color: #414141;
    color: white;
    transition: 0.2s;
}